/*body {
	background-image: url("../img/fond.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

#global {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#header {
	background-image: url("../img/soleil.jpg");
	height: 180px;
}

.ecrit {
	margin: 10 10 10 10;
}

#pied {
	margin-top: 10px;
	border-radius: 2vh;
	width: 100%;
	height: 180px;
	float: left;
	font-size: 12px;
	font-family: arial;
}

@media all and (min-width: 1700px) {
	#global {
		margin-left: auto;
		margin-right: auto;
		width: 1800px;
	}
}

@media all and (min-width: 1200px) {
	#membre {
		width: 50%;
		border-style: groove;
		float: right;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 10px;
		background-color: #FFFFFF;
		height: 160px;
	}
	#general {
		width: 100%;
		height: 10px;
		margin-top: 60px;
	}
	#content {
		margin-top: -30px;
		float: right;
		width: 65%;
	}
	#menu {
		float: left;
		width: 35%;
	}
}

@media all and (max-width: 1200px) and (min-width: 450px) {
	#membre {
		width: 50%;
		border-style: groove;
		float: right;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 10px;
		background-color: #FFFFFF;
		height: 160px;
	}
	#general {
		width: 100%;
		height: 10px;
		margin-top: 60px;
	}
	#content {
		margin-top: -30px;
		float: right;
		width: 60%;
	}
	#menu {
		float: left;
		width: 40%;
	}
}

@media all and (max-width: 450px) {
	#membre {
		width: 99%;
		border-style: groove;
		float: right;
		margin-top: 190px;
		margin-left: 10px;
		background-color: #FFFFFF;
		height: 160px;
	}
	#content {
		float: right;
		width: 60%;
	}
	#menu {
		float: left;
		width: 40%;
	}
}*/
